<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>Found recipes</title>
</head>

<body>
<div class='card card-body bg-light'>
    <h1>I found recipes for you</h1>
    <h1 th:text="${name}"></h1>
    <br/><br/>
    <ul>
        <li th:each="recipe:${recipes}" th:text="${recipe}">
            <!--a th:href="@{'/listquotes/' + ${author}}" th:text="${author}"></a-->
        </li>
    </ul>
</div>

</body>
</html>